<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WorldCup</title>
    <style>
        table, td, th {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
        }
    </style>
</head>
<body style="background-image: url('/background2.jpg'); background-size: cover;">
<header th:align="center" style="color: antiquewhite; background-color: forestgreen; font-size: 40px">
    <a href="/">Home</a> |
    <a href="/add">Add Team</a> |
    <a href="/edit">Edit Team</a> |
    <a href="/delete">Delete Team</a> |
    <a href="/display">Display Results</a> |
</header>
<br>
<br>
<div th:align="center" style="background-color: bisque">
<table>
    <tr>
        <th>Team Name</th>
        <th>Continent</th>
        <th>Number of Played Games</th>
        <th>Number of Won Games</th>
        <th>Number of Drawn Games</th>
        <th>Number of Lost Games</th>
    </tr>
    <tr th:each="t:${teamList}">
        <td th:text="${t.teamName}"></td>
        <td th:text="${t.continent}"></td>
        <td th:text="${t.played}"></td>
        <td th:text="${t.won}"></td>
        <td th:text="${t.drawn}"></td>
        <td th:text="${t.lost}"></td>
        <td> <a onclick="return confirm('Are you sure?')" th:href="@{/deleteTeamById/} + ${t.teamID}">Delete</a></td>
    </tr>
</table>
<br>
<br>
<form method="post" th:action="@{/deleteSearch}" th:object="${team}">
    Search(Case sensitive): <input type="text" th:field="*{teamName}"/>
    <input type="submit" value="Go"/>
</form>
</div>
<br><br>
<footer th:align="center" style="alignment: bottom; color: bisque"><h2>e.g., © 2021 by Hieu Vu All rights reserved.</h2></footer>
</body>
</html>