<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WorldCup</title>
</head>
<body style="background-image: url('/background.jpg'); background-size: cover;">
<header th:align="center" style="color: antiquewhite; background-color: forestgreen; font-size: 40px">
    <a href="/">Home</a> |
    <a href="/add">Add Team</a> |
    <a href="/edit">Edit Team</a> |
    <a href="/delete">Delete Team</a> |
    <a href="/display">Display Results</a> |
</header>
<br><br>
<div th:align="center">
    <img src="image.jpg">
</div>
<br><br>
<footer th:align="center" style="alignment: bottom; color: bisque"><h2>e.g., © 2021 by Hieu Vu All rights reserved.</h2></footer>
</body>
</html>